<a href="https://colab.research.google.com/github/CSI-Project444/CSI/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd

In [23]:
df=pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/final02.csv')
df.sample(5)

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
1680,1,12.369317,12.369317,12.649111,12.649111,12.649111,11.401754,11.704700,10.770330,11.704700,...,9.486833,8.544004,8.246211,8.246211,8.062258,8.062258,8.062258,7.000000,7.000000,6.082763
6596,4,9.848858,9.848858,9.433981,10.295630,10.295630,10.295630,10.000000,10.000000,10.000000,...,11.313709,11.313709,10.630146,10.630146,10.000000,10.000000,9.433981,9.433981,8.944272,8.544004
2326,2,10.440307,10.198039,10.049876,10.049876,10.049876,10.049876,10.000000,10.049876,10.000000,...,12.165525,11.180340,11.045361,10.049876,10.000000,10.000000,9.055385,9.055385,8.062258,8.246211
7320,4,10.000000,10.000000,11.045361,11.045361,11.045361,10.049876,10.198039,10.198039,10.198039,...,12.529964,11.661904,11.180340,11.180340,10.770330,10.440307,10.440307,10.198039,10.049876,10.049876
706,1,11.661904,11.180340,12.083046,12.083046,12.083046,11.180340,12.083046,12.083046,12.083046,...,12.165525,11.180340,11.401754,11.401754,11.704700,10.770330,10.770330,9.848858,10.816654,10.000000

In [9]:
df[['pow2: 2','pow2: 3']] = np.power((df[['Unnamed: 2','Unnamed: 3']]),2)
print(df)

      Zone  data  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  \
0        1   -12          -6         -12          -6         -12          -5
1        1   -12           4         -11           5         -11           5
2        1   -11           5         -11           4         -11           5
3        1   -12           2         -11           2         -11           3
4        1    -5          10          -5          10          -4          10
...    ...   ...         ...         ...         ...         ...         ...
7937     4     3         -10           3         -10           2         -10
7938     4    -5          -9          -5          -9          -6          -9
7939     4   -10           2         -10           3         -10           3
7940     4     5          -9           4          -9           4          -9
7941     4    -3         -10          -4         -10          -4         -10

      Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 97  Unnamed: 98  \
0            -12          -6         -12  ...           -8           -3
1            -12           4         -11  ...           -8            4
2            -10           5         -11  ...           -8            3
3            -12           2         -11  ...           -8            2
4             -4          10          -4  ...           -3            7
...          ...         ...         ...  ...          ...          ...
7937           2         -10           2  ...            0           -8
7938          -6         -10          -6  ...           -6           -5
7939         -10           3         -10  ...           -8            4
7940           4         -10           4  ...            1          -10
7941          -4         -10          -5  ...           -6           -7

      Unnamed: 99  Unnamed: 100  Unnamed: 101  Unnamed: 102  Unnamed: 103  \
0              -8            -4            -7            -4            -6
1              -8             3            -7             2            -7
2              -8             3            -7             2            -7
3              -8             1            -8             0            -7
4              -3             7            -4             6            -4
...           ...           ...           ...           ...           ...
7937            1            -8             1            -7             1
7938           -6            -6            -6            -6            -5
7939           -8             4            -8             2            -7
7940            1            -9             2            -8             2
7941           -6            -7            -5            -7            -4

      Unnamed: 104  pow2: 2  pow2: 3
0               -4       36      144
1                2       16      121
2                2       25      121
3                0        4      121
4                6      100       25
...            ...      ...      ...
7937            -7      100        9
7938            -6       81       25
7939             2        4      100
7940            -7       81       16
7941            -7      100       16

[7942 rows x 107 columns]

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [25]:
url='https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/final02.csv'
df=pd.read_csv(url)
df.sample(5)

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
4247,3,13.152946,13.152946,13.038405,13.152946,13.152946,12.165525,13.038405,12.165525,13.152946,...,9.000000,9.000000,8.062258,8.062258,8.062258,8.062258,8.246211,7.280110,7.615773,6.708204
1413,1,13.000000,13.000000,11.704700,12.649111,11.704700,11.704700,11.704700,10.770330,11.401754,...,8.602325,8.602325,7.810250,7.071068,7.810250,7.810250,7.810250,7.211103,7.211103,6.708204
1077,1,14.212670,13.453624,14.142136,14.212670,12.806248,12.806248,12.806248,11.401754,12.206556,...,6.403124,5.656854,5.000000,5.000000,5.000000,5.000000,4.472136,4.472136,4.472136,4.472136
4287,3,12.000000,12.000000,12.041595,13.000000,12.041595,12.000000,12.041595,12.041595,12.041595,...,12.369317,12.369317,12.165525,11.180340,11.045361,11.045361,10.000000,10.000000,10.049876,10.049876
408,1,10.295630,11.180340,10.816654,11.661904,11.661904,11.180340,11.661904,11.661904,11.180340,...,10.630146,10.630146,10.000000,9.433981,9.433981,8.944272,8.944272,8.944272,8.544004,8.544004

In [27]:
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
cols=['mag1','mag2','mag3']
X=df[cols] 
scaler = StandardScaler()
X_scale=scaler.fit_transform(X)
X_scale = X_scale.round(4) 
y = np.array(df['Zone'])

encoder = OneHotEncoder()
y_targets = encoder.fit_transform(df[['Zone']]).toarray()

In [28]:
from sklearn.model_selection import train_test_split
test_size=0.6
X_train, X_test, y_train, y_test = train_test_split(
    X, y_targets, 
    test_size=test_size, random_state=4)

In [29]:
from keras.models import Sequential
from keras.layers.core import Dense
model = Sequential()
model.add(Dense(10, input_dim=3, activation='relu'))
model.add(Dense(10, input_dim=10, activation='relu'))
model.add(Dense(10, input_dim=10, activation='relu'))
model.add(Dense(3, activation='sigmoid'))

In [30]:
model.compile(loss='mean_squared_error',
              optimizer='adam',
              metrics=['accuracy'])

In [31]:
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100

ValueError: ignored

In [21]:
results = model.evaluate(X_test, y_test)
print('Accuracy: %.3f' % results[1])

ValueError: ignored