<a href="https://colab.research.google.com/github/CSI-Project444/CSI/blob/main/Dicision_Tree_ver_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/Final01.csv')
df.sample(5)

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
599,1,6.082763,10.295630,10.295630,10.816654,10.295630,9.433981,9.848858,8.944272,8.944272,...,10.049876,9.000000,9.055385,8.062258,8.062258,7.280110,7.280110,7.615773,6.708204,6.708204
7719,4,7.211103,8.602325,9.433981,9.219544,8.602325,8.602325,8.602325,8.062258,8.944272,...,10.198039,9.055385,8.246211,7.280110,7.280110,7.615773,7.615773,6.708204,6.708204,5.830952
6531,4,5.656854,10.440307,10.198039,10.440307,10.440307,9.486833,9.219544,9.219544,9.055385,...,8.246211,8.246211,8.246211,7.071068,7.071068,7.000000,7.000000,6.082763,6.082763,6.082763
7837,4,4.000000,9.000000,10.049876,10.000000,9.055385,9.055385,9.055385,8.062258,9.219544,...,9.433981,9.433981,8.944272,8.062258,8.544004,7.280110,7.280110,7.071068,7.071068,6.000000
292,1,3.162278,6.708204,7.211103,8.062258,8.062258,8.062258,8.602325,7.211103,8.602325,...,9.848858,9.848858,9.433981,8.944272,9.433981,8.602325,8.602325,7.810250,9.219544,8.602325

In [3]:
df.columns

Index(['Zone', 'mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52'],
      dtype='object')

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [5]:
feature_cols=['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52']
target_col='Zone'
X=df[feature_cols]
y=df[target_col]

test_size=.6
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=test_size, random_state=4)

In [6]:
# default ของ sklearn จะพิจารณาการสร้างเเผนภาพต้นไม้ด้วย Gini index 
# โดยสามารถเลือกเกณฑ์การพิจารณาด้วยการกำหนดพารามิเตอร์ criterion
model = tree.DecisionTreeClassifier()

In [7]:
model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [8]:
params={'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
#  'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}
model=tree.DecisionTreeClassifier(**params)

In [9]:
model = model.fit(X_train, y_train)

In [10]:
model

DecisionTreeClassifier(max_depth=3)

In [11]:
# print('column_name',X_train.columns)
# model.feature_importances_
fs = pd.Series(model.feature_importances_, index=X_train.columns.sort_values(ascending=True))
fs

mag1     0.010671
mag10    0.302032
mag11    0.070042
mag12    0.000000
mag13    0.000000
mag14    0.000000
mag15    0.000000
mag16    0.000000
mag17    0.000000
mag18    0.000000
mag19    0.000000
mag2     0.000000
mag20    0.000000
mag21    0.000000
mag22    0.000000
mag23    0.000000
mag24    0.073309
mag25    0.000000
mag26    0.000000
mag27    0.000000
mag28    0.000000
mag29    0.000000
mag3     0.000000
mag30    0.000000
mag31    0.000000
mag32    0.000000
mag33    0.000000
mag34    0.000000
mag35    0.000000
mag36    0.000000
mag37    0.000000
mag38    0.000000
mag39    0.000000
mag4     0.000000
mag40    0.000000
mag41    0.000000
mag42    0.000000
mag43    0.000000
mag44    0.000000
mag45    0.000000
mag46    0.000000
mag47    0.000000
mag48    0.000000
mag49    0.000000
mag5     0.000000
mag50    0.000000
mag51    0.157461
mag52    0.000000
mag6     0.000000
mag7     0.386485
mag8     0.000000
mag9     0.000000
dtype: float64

In [12]:
model.score(X_train, y_train)

0.47858942065491183

In [13]:
model.score(X_test, y_test)

0.460973562736047

In [14]:
model.__dict__

{'criterion': 'gini',
 'splitter': 'best',
 'max_depth': 3,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'min_weight_fraction_leaf': 0.0,
 'max_features': None,
 'max_leaf_nodes': None,
 'random_state': None,
 'min_impurity_decrease': 0.0,
 'class_weight': None,
 'ccp_alpha': 0.0,
 'feature_names_in_': array(['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
        'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15',
        'mag16', 'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22',
        'mag23', 'mag24', 'mag25', 'mag26', 'mag27', 'mag28', 'mag29',
        'mag30', 'mag31', 'mag32', 'mag33', 'mag34', 'mag35', 'mag36',
        'mag37', 'mag38', 'mag39', 'mag40', 'mag41', 'mag42', 'mag43',
        'mag44', 'mag45', 'mag46', 'mag47', 'mag48', 'mag49', 'mag50',
        'mag51', 'mag52'], dtype=object),
 'n_features_in_': 52,
 'n_outputs_': 1,
 'classes_': array([1, 2, 3, 4]),
 'n_classes_': 4,
 'max_features_': 52,
 'tree_': <sklearn.tree._tree.Tree at 0x7fd3b2d03960>}

In [15]:
from sklearn import metrics
predicted = model.predict(X_test)
print(f'accuracy = {metrics.accuracy_score(y_test, predicted)}')
#print(f'precision = {metrics.precision_score(y_test, predicted)}')
#print(f'recall = {metrics.recall_score(y_test, predicted)}')

accuracy = 0.460973562736047