<a href="https://colab.research.google.com/github/CSI-Project444/CSI/blob/main/Dicision_Tree_ver_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/final02.csv')
df.sample(5)

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
3243,2,7.615773,8.062258,8.602325,8.602325,8.602325,7.810250,8.485281,8.485281,8.485281,...,14.317821,13.341664,13.341664,12.369317,12.649111,11.704700,12.083046,11.180340,10.295630,9.433981
4342,3,13.152946,13.038405,12.041595,13.038405,12.041595,12.041595,12.000000,12.041595,12.000000,...,11.180340,10.198039,10.049876,10.049876,10.000000,10.000000,9.055385,9.055385,9.219544,8.246211
2754,2,11.661904,11.180340,11.180340,11.180340,10.770330,9.848858,10.770330,9.848858,9.486833,...,11.045361,10.049876,10.049876,10.000000,10.049876,9.055385,9.055385,9.219544,9.219544,8.544004
525,1,12.165525,12.165525,12.369317,13.341664,12.165525,12.165525,12.165525,12.165525,12.165525,...,12.649111,11.704700,11.704700,11.401754,11.401754,11.401754,11.180340,11.180340,10.198039,10.049876
307,1,10.440307,10.770330,10.770330,11.704700,11.704700,10.770330,11.704700,10.770330,11.704700,...,8.544004,8.544004,7.280110,7.280110,7.280110,7.280110,7.071068,7.071068,7.000000,6.000000

In [4]:
df.columns

Index(['Zone', 'mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52'],
      dtype='object')

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [38]:
feature_cols=['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52']
target_col='Zone'
X=df[feature_cols]
y=df[target_col]

test_size=.6
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=test_size, random_state=4)

In [39]:
# default ของ sklearn จะพิจารณาการสร้างเเผนภาพต้นไม้ด้วย Gini index 
# โดยสามารถเลือกเกณฑ์การพิจารณาด้วยการกำหนดพารามิเตอร์ criterion
model = tree.DecisionTreeClassifier()

In [23]:
model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [40]:
params={'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
#  'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}
model=tree.DecisionTreeClassifier(**params)

In [41]:
model = model.fit(X_train, y_train)

In [42]:
model

DecisionTreeClassifier(max_depth=3)

In [43]:
# print('column_name',X_train.columns)
# model.feature_importances_
fs = pd.Series(model.feature_importances_, index=X_train.columns.sort_values(ascending=True))
fs

mag1     0.183567
mag10    0.000000
mag11    0.000000
mag12    0.000000
mag13    0.000000
mag14    0.000000
mag15    0.000000
mag16    0.000000
mag17    0.319407
mag18    0.000000
mag19    0.000000
mag2     0.000000
mag20    0.000000
mag21    0.000000
mag22    0.000000
mag23    0.000000
mag24    0.000000
mag25    0.000000
mag26    0.000000
mag27    0.000000
mag28    0.012343
mag29    0.000000
mag3     0.000000
mag30    0.000000
mag31    0.000000
mag32    0.000000
mag33    0.000000
mag34    0.000000
mag35    0.000000
mag36    0.000000
mag37    0.000000
mag38    0.000000
mag39    0.000000
mag4     0.000000
mag40    0.000000
mag41    0.342310
mag42    0.004504
mag43    0.026927
mag44    0.000000
mag45    0.110943
mag46    0.000000
mag47    0.000000
mag48    0.000000
mag49    0.000000
mag5     0.000000
mag50    0.000000
mag51    0.000000
mag52    0.000000
mag6     0.000000
mag7     0.000000
mag8     0.000000
mag9     0.000000
dtype: float64

In [44]:
model.score(X_train, y_train)

0.6600378787878788

In [45]:
model.score(X_test, y_test)

0.6367269667648296

In [46]:
model.__dict__

{'criterion': 'gini',
 'splitter': 'best',
 'max_depth': 3,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'min_weight_fraction_leaf': 0.0,
 'max_features': None,
 'max_leaf_nodes': None,
 'random_state': None,
 'min_impurity_decrease': 0.0,
 'class_weight': None,
 'ccp_alpha': 0.0,
 'feature_names_in_': array(['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
        'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15',
        'mag16', 'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22',
        'mag23', 'mag24', 'mag25', 'mag26', 'mag27', 'mag28', 'mag29',
        'mag30', 'mag31', 'mag32', 'mag33', 'mag34', 'mag35', 'mag36',
        'mag37', 'mag38', 'mag39', 'mag40', 'mag41', 'mag42', 'mag43',
        'mag44', 'mag45', 'mag46', 'mag47', 'mag48', 'mag49', 'mag50',
        'mag51', 'mag52'], dtype=object),
 'n_features_in_': 52,
 'n_outputs_': 1,
 'classes_': array([1, 2, 3, 4]),
 'n_classes_': 4,
 'max_features_': 52,
 'tree_': <sklearn.tree._tree.Tree at 0x7f0e7baa9960>}

In [47]:
from sklearn import metrics
predicted = model.predict(X_test)
print(f'accuracy = {metrics.accuracy_score(y_test, predicted)}')
#print(f'precision = {metrics.precision_score(y_test, predicted)}')
#print(f'recall = {metrics.recall_score(y_test, predicted)}')

accuracy = 0.6367269667648296