<a href="https://colab.research.google.com/github/CSI-Project444/CSI/blob/main/Naive_Bayes_By_lang_ver_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 6 Naive Bayes

reference : https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html?highlight=gaussiannb#sklearn.naive_bayes.GaussianNB

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

**สร้างแบบจำลองการเรียนรู้โดยใช้วิธี Naive Bayes Classifier**

In [30]:
test_size=.6

ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation

In [31]:
from sklearn.model_selection import cross_val_score

**ตัวอย่างการใช้ Naive Bayes Classifer เเยกประเภทข้อมูลโดยใช้หลายคุณลักษณะ**

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/Final01.csv')
df.head()

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
0,1,13.416408,13.416408,13.000000,13.416408,13.000000,12.083046,12.083046,11.704700,11.704700,...,10.049876,9.055385,9.219544,9.219544,9.486833,8.544004,8.544004,8.944272,8.062258,7.211103
1,1,12.041595,12.083046,12.083046,12.649111,11.704700,11.704700,11.180340,11.180340,10.295630,...,10.630146,8.485281,8.602325,8.602325,8.602325,8.944272,8.944272,8.544004,7.280110,7.280110
2,1,11.045361,11.704700,12.083046,11.180340,12.083046,11.180340,11.661904,11.180340,10.295630,...,10.630146,9.219544,9.219544,8.602325,8.602325,8.944272,8.544004,8.544004,7.280110,7.280110
3,1,12.041595,11.180340,11.401754,12.165525,11.180340,11.180340,10.198039,10.198039,10.198039,...,10.295630,8.944272,8.544004,8.544004,8.246211,8.246211,8.246211,8.062258,8.000000,7.000000
4,1,5.099020,11.180340,10.770330,10.770330,10.770330,10.770330,10.770330,9.848858,9.848858,...,9.000000,9.055385,8.062258,8.246211,8.246211,7.615773,7.615773,7.615773,7.211103,7.211103

เเบ่งข้อมูลสำหรับเรียนรู้เเละทดสอบ โดย

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52']], 
    df[['Zone']], 
    test_size=test_size, random_state=10)

สร้างแบบจำลอง

In [34]:
model=GaussianNB()
model.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation

In [35]:
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.478 (0.020)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ทดสอบทำนายผล

In [36]:
predicted = model.predict(X_test)
y_test

      Zone
2562     2
442      1
3559     2
6091     4
1932     1
...    ...
4276     3
2366     2
7230     4
1670     1
7436     4

[4766 rows x 1 columns]

In [37]:
predicted

array([2, 2, 2, ..., 4, 1, 3])

แสดงประสิทธิภาพของเเบบจำลอง

In [38]:
from sklearn import metrics
print(metrics.classification_report(y_test,predicted))

              precision    recall  f1-score   support

           1       0.83      0.29      0.43      1212
           2       0.49      0.52      0.51      1206
           3       0.48      0.60      0.53      1186
           4       0.38      0.50      0.43      1162

    accuracy                           0.48      4766
   macro avg       0.54      0.48      0.48      4766
weighted avg       0.54      0.48      0.48      4766