In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/final02.csv')
df.sample(5)

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
4266,3,12.041595,12.041595,11.045361,12.041595,12.041595,11.045361,11.180340,11.180340,11.180340,...,10.770330,9.848858,9.848858,9.486833,9.219544,9.219544,8.246211,8.062258,8.062258,8.000000
314,1,9.486833,8.544004,8.544004,8.062258,8.246211,8.246211,8.246211,8.246211,8.246211,...,7.071068,6.082763,6.082763,6.082763,6.324555,6.324555,5.385165,5.385165,5.385165,5.000000
6731,4,7.071068,7.000000,8.062258,8.000000,8.062258,8.062258,8.246211,8.062258,8.246211,...,12.806248,12.806248,12.806248,12.041595,12.727922,11.313709,12.041595,12.041595,12.206556,11.661904
1632,1,13.152946,13.152946,11.401754,12.369317,11.401754,11.180340,11.401754,11.401754,11.401754,...,10.816654,10.295630,10.295630,9.848858,9.848858,9.486833,9.486833,9.219544,9.219544,9.055385
3254,2,11.661904,11.661904,11.401754,12.206556,11.401754,11.401754,11.401754,10.630146,10.630146,...,12.529964,12.529964,12.206556,12.206556,11.401754,11.401754,10.630146,10.630146,10.630146,10.000000

In [3]:
df.columns

Index(['Zone', 'mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52'],
      dtype='object')

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [5]:
feature_cols=['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52']
target_col='Zone'
X=df[feature_cols]
y=df[target_col]

test_size=.5
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=test_size, random_state=5)

In [6]:
# default ของ sklearn จะพิจารณาการสร้างเเผนภาพต้นไม้ด้วย Gini index 
# โดยสามารถเลือกเกณฑ์การพิจารณาด้วยการกำหนดพารามิเตอร์ criterion
model = tree.DecisionTreeClassifier()

In [7]:
model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [8]:
params={'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
#  'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}
model=tree.DecisionTreeClassifier(**params)

In [9]:
model = model.fit(X_train, y_train)

In [10]:
model

DecisionTreeClassifier(max_depth=3)

In [11]:
# print('column_name',X_train.columns)
# model.feature_importances_
fs = pd.Series(model.feature_importances_, index=X_train.columns.sort_values(ascending=True))
fs

mag1     0.000000
mag10    0.191467
mag11    0.000000
mag12    0.000000
mag13    0.000000
mag14    0.000000
mag15    0.000000
mag16    0.000000
mag17    0.332766
mag18    0.000000
mag19    0.000000
mag2     0.000000
mag20    0.000000
mag21    0.000000
mag22    0.000000
mag23    0.000000
mag24    0.003151
mag25    0.000000
mag26    0.000000
mag27    0.000000
mag28    0.011773
mag29    0.000000
mag3     0.000000
mag30    0.000000
mag31    0.000000
mag32    0.000000
mag33    0.000000
mag34    0.000000
mag35    0.000000
mag36    0.000000
mag37    0.000000
mag38    0.000000
mag39    0.000000
mag4     0.022178
mag40    0.328402
mag41    0.000000
mag42    0.000000
mag43    0.000000
mag44    0.000000
mag45    0.110263
mag46    0.000000
mag47    0.000000
mag48    0.000000
mag49    0.000000
mag5     0.000000
mag50    0.000000
mag51    0.000000
mag52    0.000000
mag6     0.000000
mag7     0.000000
mag8     0.000000
mag9     0.000000
dtype: float64

In [12]:
model.score(X_train, y_train)

0.6440292855339561

In [13]:
model.score(X_test, y_test)

0.6273668265589497

In [14]:
model.__dict__

{'criterion': 'gini',
 'splitter': 'best',
 'max_depth': 3,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'min_weight_fraction_leaf': 0.0,
 'max_features': None,
 'max_leaf_nodes': None,
 'random_state': None,
 'min_impurity_decrease': 0.0,
 'class_weight': None,
 'ccp_alpha': 0.0,
 'feature_names_in_': array(['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
        'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15',
        'mag16', 'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22',
        'mag23', 'mag24', 'mag25', 'mag26', 'mag27', 'mag28', 'mag29',
        'mag30', 'mag31', 'mag32', 'mag33', 'mag34', 'mag35', 'mag36',
        'mag37', 'mag38', 'mag39', 'mag40', 'mag41', 'mag42', 'mag43',
        'mag44', 'mag45', 'mag46', 'mag47', 'mag48', 'mag49', 'mag50',
        'mag51', 'mag52'], dtype=object),
 'n_features_in_': 52,
 'n_outputs_': 1,
 'classes_': array([1, 2, 3, 4]),
 'n_classes_': 4,
 'max_features_': 52,
 'tree_': <sklearn.tree._tree.Tree at 0x7f0aa3028500>}

In [15]:
from sklearn import metrics
predicted = model.predict(X_test)
print(f'accuracy = {metrics.accuracy_score(y_test, predicted)}')
#print(f'precision = {metrics.precision_score(y_test, predicted)}')
#print(f'recall = {metrics.recall_score(y_test, predicted)}')

accuracy = 0.6273668265589497