Chapter 6 Naive Bayes

reference : https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html?highlight=gaussiannb#sklearn.naive_bayes.GaussianNB

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

**สร้างแบบจำลองการเรียนรู้โดยใช้วิธี Naive Bayes Classifier**

In [ ]:
test_size=.6

ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation

In [ ]:
from sklearn.model_selection import cross_val_score

**ตัวอย่างการใช้ Naive Bayes Classifer เเยกประเภทข้อมูลโดยใช้หลายคุณลักษณะ**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/final02.csv')
df.head()

,Zone,mag1,mag2,mag3,mag4,mag5,mag6,mag7,mag8,mag9,...,mag43,mag44,mag45,mag46,mag47,mag48,mag49,mag50,mag51,mag52
0,1,11.401754,12.369317,11.704700,12.649111,12.369317,12.369317,12.649111,12.649111,12.649111,...,10.295630,10.295630,10.295630,9.848858,9.848858,9.848858,9.486833,9.486833,10.198039,9.055385
1,1,11.704700,12.083046,12.083046,12.083046,12.083046,12.083046,12.083046,12.083046,12.083046,...,9.433981,9.433981,8.944272,8.944272,8.544004,8.544004,8.544004,9.219544,9.219544,8.062258
2,1,13.038405,12.206556,13.038405,13.038405,13.038405,13.038405,13.038405,12.206556,13.038405,...,9.219544,8.602325,8.602325,8.602325,8.062258,8.062258,8.062258,7.615773,8.544004,7.280110
3,1,13.892444,13.416408,13.416408,13.416408,13.416408,12.529964,13.416408,12.529964,12.529964,...,8.944272,7.615773,8.062258,8.062258,8.602325,8.602325,7.810250,7.810250,7.810250,7.071068
4,1,13.000000,13.000000,12.083046,13.000000,13.000000,12.083046,12.083046,12.083046,12.083046,...,7.211103,7.211103,7.615773,7.615773,7.615773,7.280110,7.280110,7.280110,7.071068,7.071068

เเบ่งข้อมูลสำหรับเรียนรู้เเละทดสอบ โดย

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['mag1', 'mag2', 'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'mag8',
       'mag9', 'mag10', 'mag11', 'mag12', 'mag13', 'mag14', 'mag15', 'mag16',
       'mag17', 'mag18', 'mag19', 'mag20', 'mag21', 'mag22', 'mag23', 'mag24',
       'mag25', 'mag26', 'mag27', 'mag28', 'mag29', 'mag30', 'mag31', 'mag32',
       'mag33', 'mag34', 'mag35', 'mag36', 'mag37', 'mag38', 'mag39', 'mag40',
       'mag41', 'mag42', 'mag43', 'mag44', 'mag45', 'mag46', 'mag47', 'mag48',
       'mag49', 'mag50', 'mag51', 'mag52']], 
    df[['Zone']], 
    test_size=test_size, random_state=8)

สร้างแบบจำลอง

In [ ]:
model.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation

In [ ]:
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.662 (0.010)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ทดสอบทำนายผล

In [ ]:
predicted = model.predict(X_test)
y_test

      Zone
7333     4
3716     2
5380     3
3461     2
6455     4
...    ...
343      1
1262     1
7622     4
4355     3
1271     1

[4754 rows x 1 columns]

In [ ]:
predicted

array([4, 2, 3, ..., 4, 3, 3])

แสดงประสิทธิภาพของเเบบจำลอง

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test,predicted))

              precision    recall  f1-score   support

           1       0.76      0.55      0.64      1195
           2       0.62      0.69      0.66      1224
           3       0.64      0.81      0.71      1174
           4       0.63      0.55      0.59      1161

    accuracy                           0.65      4754
   macro avg       0.66      0.65      0.65      4754
weighted avg       0.66      0.65      0.65      4754